// -----------------------------------------------------------------------------
// Table of Contents
//
// - Font Stacks
// - Font Weights
// - Font Sizes
//
// -----------------------------------------------------------------------------
// !-- Font Stacks
// -----------------------------------------------------------------------------


$base-font-family: "rawengulkregular", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
