// -----------------------------------------------------------------------------
// Table of Contents
//
//  - COLORS
//    - Brand Colors
//    - Named Colors
//    - Status Colors
//    - Background Filters
//
// -----------------------------------------------------------------------------
// !-- Brand Colors
// -----------------------------------------------------------------------------

// Colors

$white: #fff;
$black: #111;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

//background-color: rgba(0, 40, 74, 0.7);
//background-color: rgba(74, 31, 0, 0.7);
//background-color: rgba(0, 31, 5, 0.7);
//background-color: rgba(0, 40, 74, 0.7);
//background-color: rgba(74, 31, 0, 0.7);
//background-color: rgba(0, 31, 5, 0.7);
//background-color: rgba(47,0,60,.5);
