// -----------------------------------------------------------------------------
// Table of Contents
//
//  - COLORS
//    - Background Filters
//
// -----------------------------------------------------------------------------
// !-- Brand Colors
// -----------------------------------------------------------------------------

// Colors

$white: #fff;
$black: #111;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// -----------------------------------------------------------------------------
// !-- Background Filters
// -----------------------------------------------------------------------------

$background--purple: rgba(47, 0, 60, .7);
$background--navy: rgba(0, 40, 74, 0.7);
$background--sepia: rgba(74, 31, 0, 0.7);
$background--green: rgba(0, 31, 5, 0.7);
$background--orange: rgba(41,29,0,0.5);
