// -----------------------------------------------------------------------------
// !-- MEASUREMENTS
//
// - Site Widths
// - Gutters
// - Vertical Rhythm
// - Border Widths
// - Radius
// - Grid
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// !-- Max Site Width
// -----------------------------------------------------------------------------

$site--maxWidth: 940px;

// -----------------------------------------------------------------------------
// !-- Gutters
// -----------------------------------------------------------------------------

$gutter: 30px;
$gutter--half: $gutter / 2;
$gutter--narrow: 10px;

// -----------------------------------------------------------------------------
// !-- Vertical Rhythm
// -----------------------------------------------------------------------------

$verticalRhythm: $gutter;
$verticalRhythm--half: $gutter--half;
$verticalRhythm--narrow: $gutter--narrow;

// -----------------------------------------------------------------------------
// !-- Border Widths
// -----------------------------------------------------------------------------

$borderWidth--thin: 1px;
$borderWidth--medium: 2px;
$borderWidth--thick: 4px;
$borderWidth--fat: 8px;

// -----------------------------------------------------------------------------
// !-- Radius
// -----------------------------------------------------------------------------

$radius: 3px;
$radius--circle: 50%;

// -----------------------------------------------------------------------------
// !-- Grid
// -----------------------------------------------------------------------------

$grid: (
  columns: 12,
  margin: $gutter--narrow
);



// -----------------------------------------------------------------------------
// !-- Measurements
// -----------------------------------------------------------------------------

$spacing-unit: 30px;

$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

