---
layout: custom
---
<article>

  <div class="home__hero">
    <div class="home__heroWrapper">
      {% include header.html %}
      <div class="l--container">
        <div class="heroText__background">
          <div class="row">
            <div class="l--small--12 l--columns l--centered">
              <h1 class="heroText margin--bottom">
                The Event
              </h1>

              <p>Come join Charcuterie on the Lawn for its second installment, a celebration of Charcuterie crafted by local chefs Shawn Bennigsdorf and Randy Brown. A large and diverse selection of cured meats, pates, and terrines will be available.</p>

              <p>Master home brewer Ron DeGeest will be providing fresh brews, and singer/songwriter Chris Falcon will be manning the mic for what is sure to be a pleasant evening.</p>

              <p>THIS EVENT IS FREE</p>

              <p>Foxhollow Farm is located near Elkhart, Iowa, 8 miles North of Ankeny. Directions: Take the Elkhart exit from I-35 N and head east to Elkhart. Go past Elkhart 1 mile and take a left (North) onto NE 56th Street. 2nd house on the left (gray ranch house) and you are there.</p>

              <p>If you have questions, visit our <a href="faq.html">Frequently Asked Questions</a>, or <a href="contact.html">drop us a line!</a>
            </div>

            <div class="l--small--12 l--columns l--noMargin l--centered">
              <h1 class="heroText margin--bottom">
                The Chefs
              </h1>
            </div>
            <div class="l--small--12 l--columns">
              <div class="l--small--6 l--columns">
                <div class="heroText">
                  <h2>Shawn Bennigsdorf</h2>
                </div>
                <p>A Des Moines native, Shawn graduated with a culinary degree from the Art Institutes International Minnesota. 
                After school, he moved back home and started working under two great local chefs - 
                Michael Bailey (<a href="http://www.embassyclub.com/cuisine/" target="_blank">The Des Moines Embassy Club & Embassy Club West</a>) and Enosh Kelly (<a href="http://bistromontage.com/" target="_blank">Bistro Montage</a>),
                where he learned the finer aspects of the pig and all things food. 
                You can catch him now slinging bowls of porky goodness at <a href="https://krunkwich.com/" target="_blank">Krunkwich Ramen House.</a></p>
              </div>
              <div class="l--small--6 l--columns">
                <div class="heroText">
                  <h2>Randy Brown</h2>
                </div>
                <p>Randy has 20+ years of culinary experience. He graduated from the Iowa Culinary Institute at DMACC and is currently the Sous Chef at <a href="http://www.embassyclub.com/cuisine/" target="_blank">Embassy Club West</a>. His curiosity about all things meat has driven his interest in charcuterie and Randy respects taking the old processes and traditions, using them today with the best ingredients to make something special.</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  {% include footer.html %}
</article>
