---
layout: custom
---
<article>

  <div class="hype__hero">
    <div class="hype__heroWrapper">
      {% include header.html %}
      <div class="l--container">
        <div class="heroText__background">
          <div class="row">
            <div class="l--small--6 l--columns">
              <h1 class="heroText">
                Chris Falcon
              </h1>

              <h2>Music</h2>

              <p>After playing in the Baltimore music scene for years untold in a variety of bands, Chris Falcon has taken wing on his own and brought his brand of folky.acoustic.rock. to Des Moines. Blending folk and bluegrass structures, impassioned smokey vocals and feet planted firmly on the ground, Chris connects with his audience on an everyday “walking around the neighborhood” level.  As he finishes production on his forthcoming record, you can catch one of his high energy live shows in and around Des Moines.</p>

              <div class="margin--bottom">
                <a href="https://chrisfalconmusic.com/" target="_blank">Visit his website.</a>
              </div>
            </div>
            <div class="l--small--6 l--columns">
              <div>
                <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/87860085&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
            </div>
          </div>

          <div class="margin--bottom">
            <hr>
          </div>

          <div class="row">
            <div class="l--small--6 l--columns">
              <a href="https://youtu.be/3BFQwVHJIr0?t=35s" target="_blank">
                <div class="dante__photo">
                </div>
              </a>
            </div>
            <div class="l--small--6 l--columns">
              <h1 class="heroText">
                Dante Powell
              </h1>

              <h2>Comedy</h2>

              <p>We asked Dante for a bio and he sent this over. We followed his request to the best of our ability.</p>

              <p>"Is there any way that instead of doing a bio, you could just have your website play "I Believe I Can Fly" when people click on my picture? And not one of those "Kids Bop" watered down versions either, I want it to be the R. Kelly version from Space Jam. Don't skimp on this. I'm gonna be checking!"</p>

              <div class="margin--bottom">
                <a href="https://www.facebook.com/dante.powell/about?section=education&pnref=about" target="_blank">Find him on Facebook.</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% include footer.html %}
</article>
