---
layout: custom
---

<article>

  <div class="home__hero">
    <div class="home__heroWrapper">
      {% include header.html %}
      <div class="l--container">
        <h1 class="heroText l--centered margin--bottom">
          Frequently Asked Questions
        </h1>

        <div class="faq__container">

          <div class="faq margin--bottom">
            <h2 class="faq__questions heroText">
              Is this event free?

            </h2>
            <div class="faq__answer">
              <p>YES!</p>
            </div>
          </div>

          <div class="faq margin--bottom">
            <h2 class="faq__questions heroText">
              What is provided?

            </h2>
            <div class="faq__answer">
              <p>A large and diverse selection of cured meats, pates, and terrines will be provided by Shawn Bennigsdorf and Randy Brown. We will also have home brewed beer provided by Ron DeGeest.</p>

            </div>
          </div>

          <div class="faq margin--bottom">
            <h2 class="faq__questions heroText">
              Is this event outside?
            </h2>

            <div class="faq__answer">
              <p>Yep! The event is located at beautiful Foxhollow Poultry Farm and will be happening rain or shine. Be sure to check the weather the morning of the event.</p>
            </div>
          </div>

          <div class="faq margin--bottom">
            <h2 class="faq__questions heroText">
              What should I bring?
            </h2>

            <div class="faq__answer">
              <p>Feel free to bring coolers and any beverages of your own, lawn chairs and blankets, as well as sunscreen or ponchos, depending on the weather.</p>
            </div>
          </div>

          <div class="faq margin--bottom">
            <h2 class="faq__questions heroText">
              Where should I park?
            </h2>

            <div class="faq__answer">
              <p>We encourage carpooling as parking is slightly limited. Park anywhere on the side of NE 56th St.</p>
            </div>
          </div>

          <div class="faq margin--bottom">
            <h2 class="faq__questions heroText">
              Will there be entertainment?
            </h2>

            <div class="faq__answer">
              <p>We have all kinds of entertainment! Chris Falcon will be playing the guitar and Dante Powell will be doing comedy.</p>
            </div>
          </div>

          <div class="faq margin--bottom">
            <h2 class="faq__questions heroText">
              Can kids come?
            </h2>
            <div class="faq__answer">
              <p>This event is tailored to adults, but kids are absolutely welcome.</p>
            </div>
          </div>

          <div class="faq margin--bottom">
            <h2 class="faq__questions heroText">
              What about dogs?
            </h2>
            <div class="faq__answer">
              <p>While we love our furry friends, they tend to get a little excited around lots of people and great meat, so we kindly ask that you leave your pups at home.</p>
            </div>
          </div>



          <div class="faq margin--bottom">
            <h2 class="faq__questions heroText">

            </h2>
            <div class="faq__answer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</article>
