// ------------------------------------------------------------------------------
// Table of Contents
//
//  - Rows
//  - Columns
//  - Grid Layout
//  - Grid Utilities
//
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
// !-- Rows
// ------------------------------------------------------------------------------

.row {
  @include clearfix;
  margin: 0 (map-get($grid, margin) * -1);
}

.row--narrowSpaced {
  margin-bottom: $verticalRhythm;
}

.row--spaced {
  margin-bottom: $verticalRhythm * 2;
}

// ------------------------------------------------------------------------------
// !-- Columns
// ------------------------------------------------------------------------------

.l--columns {
  width: 100%;
  float: left;
  padding-left: $gutter--narrow;
  padding-right: $gutter--narrow;
  margin-bottom: $verticalRhythm;
}

// -----------------------------------------------------------------------------
// !-- Grid Layout
// -----------------------------------------------------------------------------

// Generate grid classes based on breakpoints

// Loop through each breakpoint from the $breakpoints variable map
@each $breakpointName, $breakpoint in $breakpoints {
  // Use respond-to mixin to build grid based on breakpoints
  @include respond-to($breakpointName) {
    // Create each grid class for each breakpoint
    @for $span from 1 through map-get($grid, columns) {
      .l--#{$breakpointName}--#{$span} {
        @include grid-span($span);
      }
    }
  }
}
