<footer class="siteFooter">
  <div class="l--container">
    <div class="siteFooter__container">
      <div class="row">
        <div class="l--small--12 l--medium--8 l--columns l--noMargin">
          <ul class="siteFooter__links">
            <div class="l--small--6 l--medium--4 l--columns l--noMargin">
              <a href="events.html">
                <li>
                  Event
                </li>
              </a>
            </div>
            <div class="l--small--6 l--medium--4 l--columns l--noMargin">
              <a href="about.html">
                <li>
                  About
                </li>
              </a>
            </div>
            <div class="l--small--6 l--medium--4 l--columns l--noMargin">
              <a href="entertainment.html">
                <li>
                  Entertainment
                </li>
              </a>
            </div>
            <div class="l--small--6 l--medium--4 l--columns l--noMargin">
              <a href="faq.html">
                <li>
                  FAQ
                </li>
              </a>
            </div>
            <div class="l--small--6 l--medium--4 l--columns l--noMargin">
              <a href="merch.html">
                <li>
                  Merchandise
                </li>
              </a>
            </div>
            <div class="l--small--6 l--medium--4 l--columns l--noMargin">
              <a href="contact.html">
                <li>
                  Contact
                </li>
              </a>
            </div>
          </ul>
        </div>
        <div class="l--small--12 l--medium--1 l--columns l--noMargin">
          <ul class="siteFooter__links">
            <a href="https://www.instagram.com/charcuterie_on_the_lawn/?hl=en" target="_blank">
              <li>
                <img src="images/instagram.svg" class="nav__icon">
              </li>
            </a>
            <a href="https://www.facebook.com/Charcuterie-on-the-Lawn-591426224369430/?fref=ts" target="_blank">
              <li>
                <img src="images/facebook.svg" class="nav__icon">
              </li>
            </a>
          </ul>
        </div>
        <div class="l--small--12 l--medium--3 l--columns l--noMargin">
          <img src="images/pigonly.svg" class="siteFooter__logo">
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="secondaryFooter">
  <div class="l--container l--container--xTight l--centered">
    <div class="siteFooter__container">
      <div class="row">
        <div class="l--small--6 l--columns l--noMargin">
          &#169; Charcuterie on the Lawn 2016

        </div>
        <div class="l--small--6 l--columns l--noMargin">
          Website created by Aly Fluckey
        </div>
      </div>
    </div>
  </div>

</footer>
