<header class="site-header">

  <div class="l--container l--container--tight l--centered">

    <a href="index.html" class="logo">
      <img src="images/pigonly.svg" class="logo">
    </a>
    <div class="row">
      <ul>
        <div class="l--base--6 l--columns l--noMargin">
          <a href="events.html">
            <li>
              Events
            </li>
          </a>
          <a href="about.html">
            <li>
              About
            </li>
          </a>
          <a href="entertainment.html">
            <li>
              Entertainment
            </li>
          </a>
        </div>
        <div class="l--base--6 l--columns l--noMargin">
          <a href="faq.html">
            <li>
              FAQ
            </li>
          </a>
          <a href="contact.html">
            <li>
              Contact
            </li>
          </a>
          <a href="https://www.facebook.com/events/991399827607967/" target="_blank">
            <li>
              Facebook
            </li>
          </a>
        </div>
      </ul>
    </div>
  </div>

</header>
