<header class="site-header">

  <div class="l--container l--container--tight l--centered">

    <a href="index.html" class="logo">
      <img src="images/pigonly.svg" class="logo">
    </a>
    <div>
      <ul>
        <a href="events.html">
          <li>
            Events
          </li>
        </a>
        <a href="">
          <li>
            About
          </li>
        </a>
        <a href="faq.html">
          <li>
            FAQ
          </li>
        </a>
        <a href="">
          <li>
            Contact
          </li>
        </a>
      </ul>
      
    </div>
    <div class="row">
      <div class="l--small--6 l--columns l--noMargin">

      </div>
      <div class="l--small--6 l--columns l--noMargin">
      </div>
    </div>
  </div>

</header>
