// MAYONNAISE

@font-face {
    font-family: 'mayonaisecondensed';
    src: url('../fonts/mayonaise-condensed-webfont.eot');
    src: url('../fonts/mayonaise-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mayonaise-condensed-webfont.woff2') format('woff2'),
         url('../fonts/mayonaise-condensed-webfont.woff') format('woff'),
         url('../fonts/mayonaise-condensed-webfont.ttf') format('truetype'),
         url('../fonts/mayonaise-condensed-webfont.svg#mayonaisecondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

// RAWENGULK

@font-face {
    font-family: 'rawengulklight';
    src: url('../fonts/rawengulklight-webfont.eot');
    src: url('../fonts/rawengulklight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rawengulklight-webfont.woff2') format('woff2'),
         url('../fonts/rawengulklight-webfont.woff') format('woff'),
         url('../fonts/rawengulklight-webfont.ttf') format('truetype'),
         url('../fonts/rawengulklight-webfont.svg#rawengulklight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rawengulkregular';
    src: url('../fonts/rawengulkregular-webfont.eot');
    src: url('../fonts/rawengulkregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rawengulkregular-webfont.woff2') format('woff2'),
         url('../fonts/rawengulkregular-webfont.woff') format('woff'),
         url('../fonts/rawengulkregular-webfont.ttf') format('truetype'),
         url('../fonts/rawengulkregular-webfont.svg#rawengulkregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rawengulkdemibold';
    src: url('../fonts/rawengulkdemibold-webfont.eot');
    src: url('../fonts/rawengulkdemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rawengulkdemibold-webfont.woff2') format('woff2'),
         url('../fonts/rawengulkdemibold-webfont.woff') format('woff'),
         url('../fonts/rawengulkdemibold-webfont.ttf') format('truetype'),
         url('../fonts/rawengulkdemibold-webfont.svg#rawengulkdemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rawengulkbold';
    src: url('../fonts/rawengulkbold-webfont.eot');
    src: url('../fonts/rawengulkbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rawengulkbold-webfont.woff2') format('woff2'),
         url('../fonts/rawengulkbold-webfont.woff') format('woff'),
         url('../fonts/rawengulkbold-webfont.ttf') format('truetype'),
         url('../fonts/rawengulkbold-webfont.svg#rawengulkbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
