/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'mayonaisecondensed';
    src: url('../fonts/mayonaise-condensed-webfont.eot');
    src: url('../fonts/mayonaise-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mayonaise-condensed-webfont.woff2') format('woff2'),
         url('../fonts/mayonaise-condensed-webfont.woff') format('woff'),
         url('../fonts/mayonaise-condensed-webfont.ttf') format('truetype'),
         url('../fonts/mayonaise-condensed-webfont.svg#mayonaisecondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

.hero {
  background-image: url("../charcuterie.jpg");
  height: 800px;
  max-width: 1400px;
  width: 100%;
  position: relative;
}

.layer {
  //background-color: rgba(0, 40, 74, 0.7);
  //background-color: rgba(74, 31, 0, 0.7);
  background-color: rgba(0, 31, 5, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.hero-text {
  font-family: 'mayonaisecondensed', sans-serif;
  text-align: center;
  color: #CCB4A3;
  position: inherit;
  font-size: 50px;
}

.about {
  font-family: 'Open Sans', sans-serif;
  min-height: auto;
  background: #182322;
  color: #ADADAD;
  padding: 0 100px 100px;
  opacity: 1;
  background-image: url("../images/dark_geometric.png");
  background-image: url("../images/dark_wood.png");

  h1, h2 {
    font-family: 'mayonaisecondensed', sans-serif;
    margin-bottom: 30px;
    color: #7FA8A9;
  }

  .chefs {
    margin-bottom: 50px;
  }

  .about-heading {
    font-size: 50px;
    padding-top: 70px;
    text-align: center;
  }

  .shawn, .randy {
    padding: 40px 20px 0;
    width: 45%;
    text-align: center;

    .photo {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: block;
      margin: auto;
      margin-bottom: 50px;
      background-size: cover;
      background-repeat: no-repeat;

      &.photo-shawn {
        background-image: url("../images/partyshawn-copy.jpg");
        transition: background-image .5s;
        &:hover {
          background-image: url("../images/chefshawn.jpg");
          transition: background-image .5s;
        }
      }

      &.photo-randy {
        background-image: url("../images/randy.jpg");
        transition: background-image .5s;
        &:hover {
          background-image: url("../images/randy2.png");
          transition: background-image .5s;
        }
      }
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}



body, html {
  height : 100%;
  
  font-family : sans-serif;
}

a {
  color: #7FA8A9;

  &:hover {
    text-decoration: none;
  }
}

.parallax {
  [class*="bg__"] {
    position : relative;

    background-image: url("../charcuterie.jpg");
    background-attachment : fixed;
    background-position   : top center;
    background-size       : cover;
    
    &:nth-child( 2n ) {
      box-shadow : inset 0 0 1em #111; 
    }
  }

  .hero-header {
    position: inherit;
    background-color: rgba(47, 0, 60, .5);
    padding: 30px 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #CCB4A3;
    color: #CCB4A3;

    a {
      margin-right: 20px;
    }
  }

  .hero-text {
    font-family: 'mayonaisecondensed', sans-serif;
    text-align: center;
    color: #CCB4A3;
    font-size: 60px;
    padding-top: 130px;
    padding-bottom: 200px;
    //background-color: rgba(0, 40, 74, 0.7);
    //background-color: rgba(74, 31, 0, 0.7);
    //background-color: rgba(0, 31, 5, 0.7);
    background-color: rgba(47,0,60,.5);
    height: 100%;
  }

  .bg__foo, .bg__bazz {
    height : 100vh;
  }
  
}

.about-charcuterie {
  clear: both;
  text-align: center;
}

.hype {
  background-image: url("../images/farm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: top center;

  .hype-layer {
    background-color: rgba(74, 31, 0, 0.7);
    height: 600px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #ADADAD;

    h1 {
      font-family: 'mayonaisecondensed', sans-serif;
      font-size: 50px;
      padding-top: 70px;
      color: #CCB4A3;
    }
  }

  .footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: rgba(74, 31, 0, 0.7);
    height: 100px;
    border-top: 1px solid #CCB4A3;
    color: #CCB4A3;
    padding: 30px 80px;
  }
}

.about {
  font-weight: 300;
}

.clearfix {
  clear: both;
}

article {
  .container {
    width : 600px;
    
    margin : 0 auto;
  }
  header {
    position : relative;
    
    margin : -5em 0 0 0;
    padding : 1em;
    
    text-align : left;
    font-size : 2em;
    
    color : #333;
    background-color : rgba( #fff, 0.75 );
  }
  
  h1, h2 {
    margin : 0 0 0.333em;
  }
  
  section {
    padding : 3em;
    
    &.parallax {
      margin  : 0;
      padding : 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .parallax .hero-text {
    font-size: 36px;
  }
  
  .about .sean, 
  .about .randy {
    width: 90%;
  }
}
