// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Headings
//  - Scaled Headings
//  - Alternate Headings
//  - Paragraphs
//  - Blockquotes
//  - Links
//  - Text Helpers
//
// -----------------------------------------------------------------------------
// !-- Headings
// -----------------------------------------------------------------------------

h1 {
  font-size: map-get($fontSizes, xXLarge);
  margin-bottom: $gutter--narrow;
}

h2 {
  font-size: map-get($fontSizes, large);
  margin-bottom: $gutter--narrow;
}

h3 {
  font-size: map-get($fontSizes, large);
}

h4 {
  font-size: map-get($fontSizes, medium);
}


// -----------------------------------------------------------------------------
// !-- Paragraphs
// -----------------------------------------------------------------------------

p {
  font-size: map-get($fontSizes, base);
  margin-bottom: $gutter;
}

// -----------------------------------------------------------------------------
// !-- Links
// -----------------------------------------------------------------------------


a {
  text-decoration: none;

  &:hover {
  }
}


// -----------------------------------------------------------------------------
// !-- Text Helpers
// -----------------------------------------------------------------------------
