.home {
  &__hero {
    background-image: url("../images/table.jpg");
    background-attachment: fixed;
    background-position   : top center;
    background-size       : cover;
    height: 100vh;
  }

  &__heroWrapper {
    background-color: $background--navy;
    height: 100vh;
    text-align: center;
  }

  &__image {
    max-width: 400px;
    margin-bottom: 60px;
  }

  &__link {
    width: 50px;
    margin: auto;
  }
}

.heroText {
  font-family: $decorative-font-family;
  color: $white;
  font-size: 3vw;
  text-align: center;

  &__large {
    font-size: 80px;
  }

  &__medium {
    max-width: 500px;
    width: 100%;
    margin: auto;
    font-size: 40px;
    margin-top: 15%;
    color: #D4E6E6;
  }
}

.margin {

  &--bottom {
    margin-bottom: 30px;
  }
}


.hype {
  &__hero {
    background-image: url("../images/sunset.jpg");
    background-position   : top center;
    background-size       : cover;
  }

  &__heroWrapper{
    height: 100vh;
    background-color: $background--orange;
  }
}

.site-header {
  border-bottom: $borderWidth--thin solid $white;

  a {
    text-decoration: none;
    color: $white;
    margin-right: $gutter * 2;
    font-size: 20px;
    transition: color 0.5s ease;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transition: color 0.5s ease;
      color: #E5A4FF;
    }
  }

  li {
    display: inline;
  }
}
