.home {
  &__hero {
    background-image: url("../images/table.jpg");
    background-attachment: fixed;
    background-position   : top center;
    background-size       : cover;
  }

  &__heroWrapper {
    background-color: $background--navy;
    height: 100%;
    padding-bottom: $gutter * 2;
  }

  &__image {
    display: block;
    max-height: 100vh;
    width: 100%;
    margin: auto;
    padding: 0px $gutter;
    margin-top: $gutter;
    margin-bottom: $gutter * 2;
  }

  &__link {
    width: 50px;
    margin: auto;
  }

  &__block {
    height: 300px;
    background: #340034;
  }
}

.heroText {
  font-family: $decorative-font-family;
  color: $white;

  &__large {
    font-size: 80px;
  }

  &__medium {
    max-width: 500px;
    width: 100%;
    margin: auto;
    font-size: 40px;
    margin-top: 15%;
    color: #D4E6E6;
  }

  &__background {
    max-width: 900px;
    margin: auto;
    background: $background--purple;
    padding: $gutter--half;
    color: $white;

    @include respond-to(medium) {
      padding: $gutter;
    }

    &.form {
      padding: $gutter * 3;
      margin-top: $gutter;
    }
  }
}

.margin {

  &--bottom {
    margin-bottom: 30px;
  }
}


.hype {
  &__hero {
    background-image: url("../images/sunset.jpg");
    background-position   : top center;
    background-size       : cover;
  }

  &__heroWrapper{
    height: 100%;
    background-color: $background--orange;
    padding-bottom: $gutter * 2;
  }
}

.site-header {
  border-bottom: $borderWidth--thin solid $white;

  a {
    display: block;
    margin-bottom: $gutter--half;
    text-decoration: none;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;

    @include respond-to(large) {
      display: inline-block;
      margin-right: $gutter * 2;
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transition: color 0.3s ease;
      color: #E5A4FF;
    }
  }

  li {
    display: inline;
  }

  .logo {
    max-width: 220px;
    width: 100%;
    margin: auto;
    margin-bottom: $gutter--narrow;

    @include respond-to(large) {
      margin-bottom: -$gutter--narrow;
    }
  }
}

.faq {
  &__container {
    max-width: 900px;
    margin: auto;
    background: $background--purple;
    padding: $gutter--half;
    color: $white;

    @include respond-to(medium) {
      padding: $gutter * 2;
    }
  }

  &.margin--bottom {
    margin-bottom: $gutter * 2;
  }
}

.siteFooter {
  background: rgba(47, 0, 60, 1);
  text-align: center;

  &__logo {
    max-width: 300px;
    margin-top: $gutter;

    @include respond-to(medium) {
      margin-top: 0;
    }
  }

  &__container {
    max-width: 900px;
    margin: auto;
  }

  &__links {
    margin-top: $gutter;

    @include respond-to(medium) {
      margin-top: 40px;
    }
  }

  a {
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-bottom: $gutter--narrow;
    display: block;
    color: $white;

    &:hover {
      transition: color 0.3s ease;
      color: #E5A4FF;
    }
  }
}

.secondaryFooter {
  background: #233140;
  color: white;
  font-size: map-get($fontSizes, xSmall);

}
